.main-header{
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 102px;
	background-color: #ffffff;
}

@include clearfix;
.header-logo{
	padding-top: 30px;
	float: left;
}
.touch-menu{
	display: none; 
	position: relative;
	text-decoration: none;
	font-size: 15px;
	line-height: 24px;
	color: #484c55;
	padding-top: 40px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 38px;
	&:hover{
		background-color: #f8f9fb;
		color: $active-color;
		&:after{
			@include active-nav;
			left: 0;
		}
	}
}

.main-navigation{
	float: right;
	background-color: #ffffff;

	ul{
		@include reset-list;

		li{
			position: relative;
			
			&:hover{
				background-color: #f8f9fb;
				
				&:after{
					@include active-nav;
				}
			}
			&.active{
				background-color: #f8f9fb;
				
				a{
				color: $active-color;
				}
				&:after{
					@include active-nav;
				}
			}

			a{
				display: block;
				font-size: 15px;
				line-height: 24px;
				color: #484c55;
				padding-top: 40px;
				padding-left: 25px;
				padding-right: 25px;
				padding-bottom: 38px;
				&:hover{
					color: $active-color;
				}
			}
		}
	}
}

@media screen and ($tablet) {
	.main-header{
		height: 56px;
	}
	.header-logo{
		padding-top: 15px;
	}
	.touch-menu{
		display: inline-block;
		float: right;
		padding: 15px 25px;
	}
	.main-navigation{
		display: none;
		position: absolute;
		top: 54px;
		right: 10%;
		ul{
			display: block;
			li{
				a{
					padding: 12px;
				}
			}
		}
	}
}

@media screen and ($mobile){
	.touch-menu:hover:after{
		content: none;
	}
	.main-navigation{
		right: 10%;
		ul{
			li{
				display: block;
				&:hover:after{
					@include mobile-active-nav;
				}
			&.active{		
				&:after{
					@include mobile-active-nav;
				}
			}
				a{
					padding-bottom: 10px;
					padding-top: 10px;
				}
			}
		}
	}
}