.banner{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	position: relative;
	/* top: 102px;
	left: 0;  */
	width: 100%;
	height: 566px;
	background-image: url(../img/banner.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  .container{
  	display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
  }
  h1{
  	margin: 0;
  	font-size: 63px;
  	line-height: 72px;
  	font-weight: 600;
  }
  p{
  	font-size: 23px;
  	line-height: 37px;
  	width: 396px;
  	text-align: center;
  }
}
.banner-btn{
	width: 225px;
	height: 63px;
	padding: 0;
	color: #ffffff;
	font-size: 26px;
	line-height: 32px;
	background-color: transparent;
	border: 3px #ffffff solid;
	border-radius: 5px;
	&:hover{
		color: lighten($active-color,15%);
		border-color: lighten($active-color,15%);
	}
}
.banner-btn-left,
.banner-btn-right{
	position: absolute;
	top: 55%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffffff;
	&:hover{
		background-color: $active-color;
		&:after,&:before{
			background-color: #ffffff;
		}
	}
	&:after,&:before{
		content: '';
		position: absolute;
		top: 19px;
		left: 16px;
		width: 18px;
		height: 2px;
		background-color: $active-color;
	}
	&:after{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&:before{
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.banner-btn-left{
	left: 20px;
	&:before{
		top: 30px;
	}
}
.banner-btn-right{
	right: 20px;
	&:after{
		top: 30px;
	}
}

@media screen and ($tablet) {
	.banner{
		height: 366px;
		h1{
			font-size: 41px;
			line-height: 52px;
		}
		p{
			font-size: 18px;
			line-height: 22px;
		}
	}
.banner-btn{
	font-size: 22px;
	line-height: 26px;
	width: 180px;
	height: 45px;
	border-width: 2px;
}
}


@media screen and ($mobile) {
	.banner{
		height: 266px;
		h1{
			font-size: 24px;
			line-height: 36px;
		}
		p{
			font-size: 12px;
			line-height: 14px;
		}
	}
.banner-btn{
	font-size: 18px;
	line-height: 22px;
	width: 140px;
	height: 35px;
	border-width: 1px;
}
.banner-btn-left,
.banner-btn-right{
	width: 30px;
	height: 30px;
	&:after,&:before{
		width: 12px;
		top: 10px;
		left: 9px;
	}
}
.banner-btn-left{
	&:before{
		top: 17px;
	}
}
.banner-btn-right{
	&:after{
		top: 17px;
	}
}
}