.team{
	text-align: center;
	margin-top: 82px;
	padding-bottom: 100px;
	h2{
	font-size: 42px;
	line-height: 56px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 100px;
	}
	@media screen and ($tablet){
		margin-top: 50px;
		h2{
			margin-bottom: 40px;
		}
	}
	@media screen and ($mobile){
		margin-top: 30px;
		padding-bottom: 30px;
		h2{
			font-size: 32px;
			margin-bottom: 10px;
		}
	}
}
.team-items{
	@include reset-list;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	@media screen and ($tablet){
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	@media screen and ($mobile){
		justify-content: center;
	}
}
.team-item{
	width: 254px;
	margin-top: 30px;
	img{
		display: inline-block;
		text-align: center;
		width: 18vw;
		height: 18vw;
		max-width: 200px;
		max-height: 200px;
		background-color: #eeeef0;
		border-radius: 50%;
		margin-bottom: 60px;
		@media screen and ($tablet){
			width: 170px;
			height: 170px;
			margin-bottom: 40px;
		}
		@media screen and ($mobile){
			width: 130px;
			height: 130px;
			margin-bottom: 20px;
		}
	}
	h3{
		margin: 0;
		font-size: 22px;
		line-height: 24px;
		font-weight: 400;
	}
	span{
		font-size: 14px;
		line-height: 24px;
	}
	p{
		margin: 0;
		margin-top: 30px;
		font-size: 14px;
		line-height: 26px;
	}
}